
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    line-height: 1.3;
    color: #7d7eef;
    font-weight: 600;
    background: url("./shutterstock_637154521.jpg") no-repeat center fixed;
    background-size: cover;
}


h1 {
    font-size: 600%;
    margin: 2% 6%;
    text-align: center;
    text-shadow: 1px 1px 1px whitesmoke;
    text-decoration: underline 3px whitesmoke;
}

h2 {
    font-size: 235%;
    text-align: center;
    margin: 5%;
    text-shadow: 1px 1px 1px whitesmoke;
}

.button-xlarge, button {
    position: fixed;
    text-align: center;
    width: 80%;
    height: 20%;
    left:50%;
    margin-left: -40%;
    bottom: 25%;
    font-size:4.0vw;
    font-family: 'Quicksand', sans-serif;
}

footer {
    position: fixed;
    text-align: center;
    width: 500px;
    left:50%;
    margin-left: -250px;
    bottom: 5px;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 1px white;
}

a {
    background-color: whitesmoke;
}

@media screen and (max-width: 555px) {
    .button-xlarge {
        font-size: 5.0vw;
    }
}

