
header {
    display: block;
    justify-content: center;
    padding: 1%;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    line-height: 1.3;
    color: #7d7eef;
    font-weight: 600;
}

body {
    background-image: url("./shutterstock_637154521.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

h1 {
    font-size: 675%;
    margin: 2% 6;
    text-align: center;
    text-shadow: 1px 1px 1px whitesmoke;
}

h2 {
    font-size: 265%;
    text-shadow: 1px 1px 1px whitesmoke;
}

.button-xlarge{
    display: inline;
    font-size: 250%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: fixed;
    right: 40%;
    bottom: 5px;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 1px white;
}
@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }