
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

body {
    display: flex;
    line-height: 1.3;
}

h1 {
    font-size: 400%;
    margin: 2% 6%;
    text-align: center;
}

h2 {
    font-size: 150%;
    text-align: center;
    margin: 5%;
}

.button-xlarge, button {
    position: fixed;
    text-align: center;
    width: 80%;
    height: 20%;
    left:50%;
    margin-left: -40%;
    bottom: 25%;
    font-size:4.0vw;
}

footer {
    position: fixed;
    text-align: center;
    width: 500px;
    left:50%;
    margin-left: -250px;
    bottom: 5px;
}

@media screen and (max-width: 555px) {
    .button-xlarge {
        font-size: 5.0vw;
    }
}

